<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166127006317-v0cft509fp8p6uud1c6vvvntrvoip8ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166127006317-v0cft509fp8p6uud1c6vvvntrvoip8ar</string>
	<key>API_KEY</key>
	<string>AIzaSyBt8N18CMIypyugjnRmE2NkDmROauOyky8</string>
	<key>GCM_SENDER_ID</key>
	<string>166127006317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qaizencarrental.qaizenCarRental</string>
	<key>PROJECT_ID</key>
	<string>qaizen-car-rental-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>qaizen-car-rental-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166127006317:ios:dba83d5b494ed0bcde0564</string>
</dict>
</plist>